* text=auto eol=lf
*.py text diff=python
*.md text diff=markdown
*.svg text
*.ui text
*.xml text
*.yml text
*.yaml text
*.toml text
*.cfg text
*.ini text
*.ts text
*.qm binary
*.png binary
*.jpg binary
*.gif binary
*.pdf binary
*.FCStd binary
*.step binary
*.stp binary
*.dxf binary
